@import url('http://fonts.googleapis.com/css?family=Pacifico|Open+Sans:300,400,600');
* {
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
}
a {
    text-decoration: none;
    color: inherit;
}

body {
    width: 100%;
    min-width: 300px;
    max-width: 75%;
    margin: 1.5em auto;
    color: #333;
    font-size: 16px;
    margin-left:20px;
}
h1 {
    font-family: 'Calibri',cursive;
    font-weight: 400;
    font-size: 2.5em;
}
ul {
    list-style: none;
    padding: 0;
    .inner {
        padding-left: 1em;
        overflow: hidden;
        display: none;
        &.show {
          display: block;
        }
    }
    li {
        margin: .5em 0;
        a.toggle {
            width: 100%;
            display: block;
            background: rgba(0,0,0,0.78);
            color: #fefefe;
            padding: .75em;
            border-radius: 0.15em;
            transition: background .3s ease;
            &:hover {
                background: rgba(0,0,0,0.9);
            }
        }
    }
}



.accordion .inner{

    text-indent: 2em;
    


}

.accordion .inner .inner{

    text-indent: 2em;
    margin-left: 2em;
    background-color: #eee;
}
.accordion .inner .inner strong{

    font-weight: bold;
    font-size: 16px;
}

p{
    font-size:1.1em;
    margin-bottom: 2em;
    width: 100%;
    margin-top: .5em;
    margin-left: 2em;
    padding-left: 2em;
    margin-bottom: .5em;
    font-size: 16px;
    text-indent: 0em;
    display: block;

}
.toggle{
    font-weight: bold;
}

